* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  font-family: "Times New Roman", Times, serif;
}

/* grid */

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "header-grid header-grid header-grid"
    "contenido contenido contenido"
    "redes-grid redes-grid redes-grid";
}

.contenedor > div,
.contenedor .header-grid,
.contenedor .menu,
.contenedor .contenido .contenedor .redes-grid {
  padding: 20px;
  border-radius: 4px;
}

.contenedor .header-grid {
  background: #12203e;
  grid-area: header-grid;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contenedor .header-grid a {
  color: #fff;
  display: block;
}

.contenedor .contenido {
  grid-area: contenido;
}
.contenedor .contenido h2 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 20px;
  transition: all 2s ease;
}

.contenedor .contenido h2:hover {
  background: white;
  color: black;
  transform: scale(1);
}

.contenedor .redes-grid {
  background: #12203e;
  color: #fff;
  grid-area: redes-grid;
  justify-items: center;
  display: flex;
  justify-content: center;
}
.contenedor .redes-grid li {
  display: flex;
  align-items: center;
}

/*  fin grid */

.head {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 0;
  flex-wrap: wrap;
}

/* logo empresa */

.logo {
  margin: 0;
  padding: 5px;
}
.logo img {
  width: 200px;
}

/* barra de navegacion */

.menu {
  text-align: right;
  padding: 20px 25px 0 0;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  display: inline-block;
  top: 150%;
}
.menu ul li a {
  color: black;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400;
  margin-right: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 1s;
}
.menu ul li a:hover {
  transform: scale(1.5, 1.5);
}

/* fin barra de nav */

/* contenido */

.contenido {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 15rem);
  gap: 1rem;
}

.imagenpantalla {
  align-self: center;
}

/* footer */

.redes {
  display: flex;
  padding: 60px 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: flex-end;
}
.redes ul li {
  display: inline-block;
  text-decoration: none;
}
.redes ul li a {
  text-decoration: none;
  margin-right: 10px;
}

/* galeria */

.galeria {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  margin: 15px;
}
.galeria img {
  height: 200px;
  margin: 15px;
}
.galeria p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* contacto */

.form {
  background-image: 0;
  width: 80%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
}
.form__container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}
.form__title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 1.4em;
}
.form__input {
  font-size: 1rem;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2em;
}
.form__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
}
.form__cta {
  background-color: #089fe0;
  font-size: 1rem;
  color: #fff;
  border: none;
  font-weight: 300;
  padding: 0.7em 0;
  border-radius: 0.2em;
  cursor: pointer;
  font-weight: 400;
}
.ubi {
  display: flex;
  flex-direction: column;
}
.ubi__iframe {
  width: 1349px;
  padding-right: 50px 0;
}
.ubi__texto {
  text-align: center;
  margin: 15px;
}

/* quienes somos */

.imagenprincipal {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.textprincipal {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 16px;
}

/* servicios */

.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 15px;
}
.service__text {
  text-align: center;
  margin: 25px;
}
.imgservice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 15px;
  height: 300px;
  width: 500px;
}

@media screen and (max-width: 768px) {
  .contenedor .contenido {
    grid-template-areas:
      "header-grid header-grid header-grid"
      "contenido contenido contenido"
      "redes-grid redes-grid redes-grid";
  }
}
